Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/InfinityBladeEffects/*
Content/StarterContent/*
Content/SoulCave/*
Content/SoulCity/*